.exercise-selector__header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 32px;
}

.exercise-selector__icon {
  font-size: 24px;
  color: var(--color-orange-light);
}

.exercise-selector__title {
  color: var(--color-orange-light);
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

.exercise-selector__list {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 32px;
  max-height: 75vh;
  overflow-y: auto;
}

.exercise-selector__item {
  background: #222935;
  padding: 16px;
  text-align: left;
  cursor: pointer;
}

.exercise-selector__item > p {
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  padding: 0;
  margin: 0;
  color: #ffffff;
}

.exercise-selector__item > span {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #465060;
}

.exercise-selector__item--selected {
  border: 1px solid var(--color-orange-light);
}

.exercise-selector__next-btn {
  background: #e37c33;
  border: none;
  padding: 14px 32px;
  color: #ffffff;
  font-size: 18px;
  cursor: pointer;
  width: fit-content;
  transition: all 0.2s ease;
}

.exercise-selector__next-btn:hover:not(:disabled) {
  background: #c46835;
  transform: translateY(-1px);
}

.exercise-selector__next-btn:disabled {
  background: #666;
  cursor: not-allowed;
  opacity: 0.6;
}

.exercise-selector__next-btn:active {
  transform: translateY(0);
}

.exercise-selector__inputbox {
  display: flex;
  gap: 24px;
  margin: 24px 0;
  justify-content: center;
}

.exercise-selector__inputbox > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.exercise-selector__inputbox > div > div {
  background-color: #222935;
  padding: 16px;
}

.exercise-selector__inputbox input {
  width: 80px;
  padding: 6px 10px;
  border-radius: 6px;
  border: 1px dashed #fff;
  color: #fff;
  font-size: 16px;
  background: transparent;
  outline: none;
}

.exercise-selector__inputbox label {
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  line-height: 100%;
  letter-spacing: 0%;
  text-align: center;
}
