.challenge-review-modal{
    background-color: #3A3F47;
    padding: 20px;
}

.challenge-review-modal-header{
display: flex;
align-items: center;
justify-content: space-between;
margin-bottom: 10px;
}

.comment-list-container {
    max-height: 400px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.comment-list-container::-webkit-scrollbar {
    width: 6px;
}

.comment-list-container::-webkit-scrollbar-track {
    background: #2a2f37;
    border-radius: 3px;
}

.comment-list-container::-webkit-scrollbar-thumb {
    background: #677182;
    border-radius: 3px;
}

.comment-list-container::-webkit-scrollbar-thumb:hover {
    background: #ff7700;
}
